<div class="acc js-accordion">
  <div class="acc__item">
    <h4 class="acc__title ">What is the right mattress for me?</h4>

    <div class="acc__body">
      <p>Every person is different. Different weights, shapes, ages, with different sensitivities and sleeping preferences. Some people are highly allergic to different materials as well as molds and dust mites. Some want all natural materials and minimal synthetics. Some people are hot sleepers, others are cold sleepers. Some have injuries affecting back, hips, neck, shoulders etc, and some have degenerative illnesses such as osteoporosis.</p>
      <p>The beauty of shopping at rise+shine is that all our stores have a ‘Bed Test Area’ in which the mattresses are there for you to test out and try before you buy! We encourage you to take your time, trying out mattresses on your back or side, just like you normally sleep to make sure its right for you. Our staff have been trained by health professionals to be able to recommend a mattress that is right for you. So ask the experts at rise+shine and test for yourself.</p>
    </div>
  </div>

  <div class="acc__item">
    <h4 class="acc__title">How long should my mattress last?</h4>

    <div class="acc__body">
      <p>Every person is different. Different weights, shapes, ages, with different sensitivities and sleeping preferences. Some people are highly allergic to different materials as well as molds and dust mites. Some want all natural materials and minimal synthetics. Some people are hot sleepers, others are cold sleepers. Some have injuries affecting back, hips, neck, shoulders etc, and some have degenerative illnesses such as osteoporosis.</p>
      <p>The beauty of shopping at rise+shine is that all our stores have a ‘Bed Test Area’ in which the mattresses are there for you to test out and try before you buy! We encourage you to take your time, trying out mattresses on your back or side, just like you normally sleep to make sure its right for you. Our staff have been trained by health professionals to be able to recommend a mattress that is right for you. So ask the experts at rise+shine and test for yourself.</p>
    </div>
  </div>

  <div class="acc__item">
    <h4 class="acc__title">How often should I turn my mattress?</h4>

    <div class="acc__body">
      <p>Every person is different. Different weights, shapes, ages, with different sensitivities and sleeping preferences. Some people are highly allergic to different materials as well as molds and dust mites. Some want all natural materials and minimal synthetics. Some people are hot sleepers, others are cold sleepers. Some have injuries affecting back, hips, neck, shoulders etc, and some have degenerative illnesses such as osteoporosis.</p>

      <p>The beauty of shopping at rise+shine is that all our stores have a ‘Bed Test Area’ in which the mattresses are there for you to test out and try before you buy! We encourage you to take your time, trying out mattresses on your back or side, just like you normally sleep to make sure its right for you. Our staff have been trained by health professionals to be able to recommend a mattress that is right for you. So ask the experts at rise+shine and test for yourself.</p>
    </div>
  </div>

  <div class="acc__item">
    <h4 class="acc__title ">What do growing kids really need?</h4>

    <div class="acc__body ">
      <p>Every person is different. Different weights, shapes, ages, with different sensitivities and sleeping preferences. Some people are highly allergic to different materials as well as molds and dust mites. Some want all natural materials and minimal synthetics. Some people are hot sleepers, others are cold sleepers. Some have injuries affecting back, hips, neck, shoulders etc, and some have degenerative illnesses such as osteoporosis.</p>
      <p>The beauty of shopping at rise+shine is that all our stores have a ‘Bed Test Area’ in which the mattresses are there for you to test out and try before you buy! We encourage you to take your time, trying out mattresses on your back or side, just like you normally sleep to make sure its right for you. Our staff have been trained by health professionals to be able to recommend a mattress that is right for you. So ask the experts at rise+shine and test for yourself.</p>
    </div>
  </div>

  <div class="acc__item">
    <h4 class="acc__title ">How hard should my mattress be?</h4>

    <div class="acc__body ">
      <p>Every person is different. Different weights, shapes, ages, with different sensitivities and sleeping preferences. Some people are highly allergic to different materials as well as molds and dust mites. Some want all natural materials and minimal synthetics. Some people are hot sleepers, others are cold sleepers. Some have injuries affecting back, hips, neck, shoulders etc, and some have degenerative illnesses such as osteoporosis.</p>
      <p>The beauty of shopping at rise+shine is that all our stores have a ‘Bed Test Area’ in which the mattresses are there for you to test out and try before you buy! We encourage you to take your time, trying out mattresses on your back or side, just like you normally sleep to make sure its right for you. Our staff have been trained by health professionals to be able to recommend a mattress that is right for you. So ask the experts at rise+shine and test for yourself.</p>
    </div>
  </div>

  <div class="acc__item">
    <h4 class="acc__title ">I like plush and he likes firm, what’s best for us?</h4>

    <div class="acc__body ">
      <p>Every person is different. Different weights, shapes, ages, with different sensitivities and sleeping preferences. Some people are highly allergic to different materials as well as molds and dust mites. Some want all natural materials and minimal synthetics. Some people are hot sleepers, others are cold sleepers. Some have injuries affecting back, hips, neck, shoulders etc, and some have degenerative illnesses such as osteoporosis.</p>
      <p>The beauty of shopping at rise+shine is that all our stores have a ‘Bed Test Area’ in which the mattresses are there for you to test out and try before you buy! We encourage you to take your time, trying out mattresses on your back or side, just like you normally sleep to make sure its right for you. Our staff have been trained by health professionals to be able to recommend a mattress that is right for you. So ask the experts at rise+shine and test for yourself.</p>
    </div>
  </div>

  <div class="acc__item">
    <h4 class="acc__title ">Does it make a difference which position I sleep in?</h4>

    <div class="acc__body ">
      <p>Every person is different. Different weights, shapes, ages, with different sensitivities and sleeping preferences. Some people are highly allergic to different materials as well as molds and dust mites. Some want all natural materials and minimal synthetics. Some people are hot sleepers, others are cold sleepers. Some have injuries affecting back, hips, neck, shoulders etc, and some have degenerative illnesses such as osteoporosis.</p>
      <p>The beauty of shopping at rise+shine is that all our stores have a ‘Bed Test Area’ in which the mattresses are there for you to test out and try before you buy! We encourage you to take your time, trying out mattresses on your back or side, just like you normally sleep to make sure its right for you. Our staff have been trained by health professionals to be able to recommend a mattress that is right for you. So ask the experts at rise+shine and test for yourself.</p>
    </div>
  </div>

  <div class="acc__item">
    <h4 class="acc__title ">Can I just buy a mattress and not a base?</h4>

    <div class="acc__body ">
      <p>Every person is different. Different weights, shapes, ages, with different sensitivities and sleeping preferences. Some people are highly allergic to different materials as well as molds and dust mites. Some want all natural materials and minimal synthetics. Some people are hot sleepers, others are cold sleepers. Some have injuries affecting back, hips, neck, shoulders etc, and some have degenerative illnesses such as osteoporosis.</p>
      <p>The beauty of shopping at rise+shine is that all our stores have a ‘Bed Test Area’ in which the mattresses are there for you to test out and try before you buy! We encourage you to take your time, trying out mattresses on your back or side, just like you normally sleep to make sure its right for you. Our staff have been trained by health professionals to be able to recommend a mattress that is right for you. So ask the experts at rise+shine and test for yourself.</p>
    </div>
  </div>
</div>
