.ban {
  overflow: hidden;

  &__wrap {
    @media only screen and (min-width: $tablet) {
      position: absolute;
      top: 50%;
      left: 0;
      width: 100%;
      transform: translateY(-50%);
      padding: 0;
    }
  }

  &__image {
    line-height: 0;

    img {
      width: 100%;
      height: auto;
    }
  }

  &__body {
    max-width: 400px;
    margin: 0;

    @media only screen and (min-width: $tablet) {
      margin: 0 50px;
    }

    .best-advice {
      display: none;

      @media only screen and (min-width: $desktop) {
        display: block;
        padding: 30px 20px;
      }

      &:before {
        display: none;
      }
    }
  }

  &__content {
    padding: 20px;
    margin-bottom: 20px;
    position: relative;
    background-color: $white;
    min-height: 200px;

    @media only screen and (min-width: $tablet) {
      margin-top: 40px;
    }
  }

  &__desc {
    margin-bottom: 20px;

    @media only screen and (min-width: $tablet) {
      margin-bottom: 0
    }
    p:last-of-type {
      margin: 0;
    }
  }

  &__link {
    margin-top: auto;

    @media only screen and (min-width: $tablet) {
      position: absolute;
      bottom: -20px;
    }
  }

  &__title {
    @media only screen and (min-width: $tablet) {
      margin-bottom: 20px;
      line-height: 1;
    }
  }

  &__subtitle {
    padding: 10px 0;
    display: inline-block;
    margin-bottom: 10px;
    text-transform: lowercase;
    background-color: $white;

    @media only screen and (min-width: $tablet) {
      padding: 5px 15px;
    }

    @media only screen and (min-width: $desktop) {
      padding: 10px 30px;
    }
  }

  &__item {
    position: relative;
  }

  &--default {
    position: relative;

    .ban__image {
      margin: 0;
    }

    .ban__content {
      min-height: inherit;
      padding: 0;
      margin-top: 0;

      @media only screen and (min-width: $tablet) {
        padding: 10px 30px;
        margin-bottom: 10px;
      }

      @media only screen and (min-width: $desktop) {
        padding: 30px;
        margin-bottom: 15px;
      }
    }

    .ban__body {
      @media only screen and (max-width: mobileOnly) {
        position: relative;
        max-width: inherit;
      }

      @media only screen and (min-width: $tablet) {
        margin: 0;
      }
    }

    .ban__wrap {
      @media only screen and (min-width: $tablet) {
        top: 50%;
      }
    }

    .ban__subtitle {
      @media only screen and (max-width: mobileOnly) {
        margin-bottom: 5px;
      }
    }

    .best-advice {
      @media only screen and (min-width: $tablet) {
        padding: 0 30px;
      }
    }
  }

  &--width-slide {
    opacity: 0;

    &.slick-slider {
      opacity: 1;
    }
  }
}
