<div class="gim1 gim1--has-space">
  <h2 class="section-title">VIEW OUR COLLECTION</h2>

  <div class="gim1__wrap">
    <div class="gim1__item">
      <div class="gim1__image">
        <a href="#">
          <img src="../../images/grid-image1.jpg" alt="">
          <span href="#" class="gim1__link">VIEW TABLES</span>
        </a>
      </div>
    </div>

    <div class="gim1__item">
      <div class="gim1__image">
        <a href="#">
          <img src="../../images/grid-image1.jpg" alt="">
          <span href="#" class="gim1__link">VIEW CHAIRS</span>
        </a>
      </div>
    </div>

    <div class="gim1__item">
      <div class="gim1__image">
        <a href="#">
          <img src="../../images/grid-image1.jpg" alt="">
          <span href="#" class="gim1__link">VIEW SIDEBOARDS</span>
        </a>
      </div>
    </div>
  </div>
</div>
