<div class="ban2">
  <div class="ban2__wrap">
    <div class="ban2__image">
      <a href="#"><img src="../../images/banner.jpg" alt=""></a>
    </div>

    <h2 class="ban2__title"><a href="#">Installations</a></h2>
  </div>
</div>
