$padding: 20px 0;
$margin: 20px;

.grid-icon {
  padding: $padding;

  &__list {
    @include grid(5, 10px);
    align-items: flex-start;
  }

  &__title {
    margin: 0;
  }

  &__image {
    margin-bottom: $margin;
    line-height: 0;
    text-align: center;

    img {
      width: 100px;
      height: auto;

      @media only screen and (min-width: $tablet) {
        width: 120px;
      }
    }
  }
  
  //box-icon--with-content
  &--with-content {
    .grid-icon__list {
      display: block;

      @media only screen and (min-width: $tablet) {
        display: flex;
      }
    }

    .grid-icon__item {
      width: 100%;
      text-align: left;
      justify-content: initial;

      @media only screen and (min-width: $tablet) {
        width: 25%;
      }
    }
  }
}
