$padding: 20px;

.imt {
  padding: $padding 0;

  &__wrap {
    @include grid(2, 0px);
  }

  &__body {
    padding: $padding;
  }

  &__image {
    img {
      width: 100%;
      height: auto;
    }
  }

  &--70-30 {
    .imt__body {
      @media only screen and (min-width: $tablet) {
        width: 70%;
      }
    }

    .imt__image {
      @media only screen and (min-width: $tablet) {
        width: 30%;
      }
    }
  }

  &--image-left {
    .imt__wrap {
      flex-direction: row-reverse;
    }
  }
}
