<div class="ban1 js-slide">
  <div class="ban1__item">
    <div class="ban1__image">
      <a href="#"><img src="../../images/banner.jpg"></a>
    </div>

    <div class="ban1__content">
      <h2 class="ban1__title">luxurious bespoke funiture direct from the desinger and maker</h2>

      <div class="ban1__link">
        <a href="#" class="btn">learn more</a>
      </div>
    </div>
  </div>

  <div class="ban1__item">
    <div class="ban1__image">
      <a href="#"><img src="../../images/banner.jpg"></a>
    </div>

    <div class="ban1__content">
      <h2 class="ban1__title">luxurious bespoke funiture direct from the desinger and maker</h2>

      <div class="ban1__link">
        <a href="#" class="btn">learn more</a>
      </div>
    </div>
  </div>

  <div class="ban1__item">
    <div class="ban1__image">
      <a href="#"><img src="../../images/banner.jpg"></a>
    </div>

    <div class="ban1__content">
      <h2 class="ban1__title">luxurious bespoke funiture direct from the desinger and maker</h2>

      <div class="ban1__link">
        <a href="#" class="btn">learn more</a>
      </div>
    </div>
  </div>

  <div class="ban1__item">
    <div class="ban1__image">
      <a href="#"><img src="../../images/banner.jpg"></a>
    </div>

    <div class="ban1__content">
      <h2 class="ban1__title">luxurious bespoke funiture direct from the desinger and maker</h2>

      <div class="ban1__link">
        <a href="#" class="btn">learn more</a>
      </div>
    </div>
  </div>

  <div class="ban1__item">
    <div class="ban1__image">
      <a href="#"><img src="../../images/banner.jpg"></a>
    </div>

    <div class="ban1__content">
      <h2 class="ban1__title">luxurious bespoke funiture direct from the desinger and maker</h2>

      <div class="ban1__link">
        <a href="#" class="btn">learn more</a>
      </div>
    </div>
  </div>

  <div class="ban1__item">
    <div class="ban1__image">
      <a href="#"><img src="../../images/banner.jpg"></a>
    </div>

    <div class="ban1__content">
      <h2 class="ban1__title">luxurious bespoke funiture direct from the desinger and maker</h2>

      <div class="ban1__link">
        <a href="#" class="btn">learn more</a>
      </div>
    </div>
  </div>

  <div class="ban1__item">
    <div class="ban1__image">
      <a href="#"><img src="../../images/banner.jpg"></a>
    </div>

    <div class="ban1__content">
      <h2 class="ban1__title">luxurious bespoke funiture direct from the desinger and maker</h2>

      <div class="ban1__link">
        <a href="#" class="btn">learn more</a>
      </div>
    </div>
  </div>
</div>
