<div class="member member--with-desc">
  <div class="member__wrap">
    <div class="member__item">
      <div class="member__picture">
        <img class="image" src="../../images/member.jpg" alt="">
      </div>
      
      <div class="member__name">
        <div class="text">
          <h5 class="section-title">Mark Fraser</h5>
          <h6 class="member__name__sub-title">amer production manager</h6>
          <p>Individuals will be able to access their information held by us on request.</p>
        </div>
      </div>

      <div class="member__desc">
        <h3 class="member__title">Mark Fraser</h3>
        <p>CEO-Sentius Group</p>
      </div>
    </div>

    <div class="member__item">
      <div class="member__picture">
        <img class="image" src="../../images/member.jpg" alt="">
      </div>
      
      <div class="member__name">
        <div class="text">
          <h5 class="section-title">Mark Fraser</h5>
          <h6 class="member__name__sub-title">amer production manager</h6>
          <p>Individuals will be able to access their information held by us on request.</p>
        </div>
      </div>

      <div class="member__desc">
        <h3 class="member__title">Mark Fraser</h3>
        <p>CEO-Sentius Group</p>
      </div>
    </div>


    <div class="member__item">
      <div class="member__picture">
        <img class="image" src="../../images/member.jpg" alt="">
      </div>
      
      <div class="member__name">
        <div class="text">
          <h5 class="section-title">Mark Fraser</h5>
          <h6 class="member__name__sub-title">amer production manager</h6>
          <p>Individuals will be able to access their information held by us on request.</p>
        </div>
      </div>

      <div class="member__desc">
        <h3 class="member__title">Mark Fraser</h3>
        <p>CEO-Sentius Group</p>
      </div>
    </div>


    <div class="member__item">
      <div class="member__picture">
        <img class="image" src="../../images/member.jpg" alt="">
      </div>
      
      <div class="member__name">
        <div class="text">
          <h5 class="section-title">Mark Fraser</h5>
          <h6 class="member__name__sub-title">amer production manager</h6>
          <p>Individuals will be able to access their information held by us on request.</p>
        </div>
      </div>

      <div class="member__desc">
        <h3 class="member__title">Mark Fraser</h3>
        <p>CEO-Sentius Group</p>
      </div>
    </div>


    <div class="member__item">
      <div class="member__picture">
        <img class="image" src="../../images/member.jpg" alt="">
      </div>
      
      <div class="member__name">
        <div class="text">
          <h5 class="section-title">Mark Fraser</h5>
          <h6 class="member__name__sub-title">amer production manager</h6>
          <p>Individuals will be able to access their information held by us on request.</p>
        </div>
      </div>

      <div class="member__desc">
        <h3 class="member__title">Mark Fraser</h3>
        <p>CEO-Sentius Group</p>
      </div>
    </div>

    <div class="member__item">
      <div class="member__picture">
        <img class="image" src="../../images/member.jpg" alt="">
      </div>
      
      <div class="member__name">
        <div class="text">
          <h5 class="section-title">Mark Fraser</h5>
          <h6 class="member__name__sub-title">amer production manager</h6>
          <p>Individuals will be able to access their information held by us on request.</p>
        </div>
      </div>

      <div class="member__desc">
        <h3 class="member__title">Mark Fraser</h3>
        <p>CEO-Sentius Group</p>
      </div>
    </div>


    <div class="member__item">
      <div class="member__picture">
        <img class="image" src="../../images/member.jpg" alt="">
      </div>
      
      <div class="member__name">
        <div class="text">
          <h5 class="section-title">Mark Fraser</h5>
          <h6 class="member__name__sub-title">amer production manager</h6>
          <p>Individuals will be able to access their information held by us on request.</p>
        </div>
      </div>

      <div class="member__desc">
        <h3 class="member__title">Mark Fraser</h3>
        <p>CEO-Sentius Group</p>
      </div>
    </div>


    <div class="member__item">
      <div class="member__picture">
        <img class="image" src="../../images/member.jpg" alt="">
      </div>
      
      <div class="member__name">
        <div class="text">
          <h5 class="section-title">Mark Fraser</h5>
          <h6 class="member__name__sub-title">amer production manager</h6>
          <p>Individuals will be able to access their information held by us on request.</p>
        </div>
      </div>

      <div class="member__desc">
        <h3 class="member__title">Mark Fraser</h3>
        <p>CEO-Sentius Group</p>
      </div>
    </div>


   <div class="member__item">
      <div class="member__picture">
        <img class="image" src="../../images/member.jpg" alt="">
      </div>
      
      <div class="member__name">
        <div class="text">
          <h5 class="section-title">Mark Fraser</h5>
          <h6 class="member__name__sub-title">amer production manager</h6>
          <p>Individuals will be able to access their information held by us on request.</p>
        </div>
      </div>

      <div class="member__desc">
        <h3 class="member__title">Mark Fraser</h3>
        <p>CEO-Sentius Group</p>
      </div>
    </div>


    <div class="member__item">
      <div class="member__picture">
        <img class="image" src="../../images/member.jpg" alt="">
      </div>
      
      <div class="member__name">
        <div class="text">
          <h5 class="section-title">Mark Fraser</h5>
          <h6 class="member__name__sub-title">amer production manager</h6>
          <p>Individuals will be able to access their information held by us on request.</p>
        </div>
      </div>

      <div class="member__desc">
        <h3 class="member__title">Mark Fraser</h3>
        <p>CEO-Sentius Group</p>
      </div>
    </div>
  </div>
</div>
