<div class="member">
  <div class="member__wrap">
    <div class="member__item">
      <div class="member__picture">
        <img class="image" src="../../images/mark_fraser.jpg" alt="">
      </div>

      <div class="member__content">
        <div class="member__name">
          <div class="text">amer production manager</div>
        </div>
      </div>
    </div>

    <div class="member__item">
      <div class="member__picture">
        <img class="image" src="../../images/mark_fraser.jpg" alt="">
      </div>
      
      <div class="member__content">
        <div class="member__name">
          <div class="text">amer production manager</div>
        </div>
      </div>
    </div>

    <div class="member__item">
      <div class="member__picture">
        <img class="image" src="../../images/mark_fraser.jpg" alt="">
      </div>
      
      <div class="member__content">
        <div class="member__name">
          <div class="text">amer production manager</div>
        </div>
      </div>
    </div>

    <div class="member__item">
      <div class="member__picture">
        <img class="image" src="../../images/mark_fraser.jpg" alt="">
      </div>
      
      <div class="member__content">
        <div class="member__name">
          <div class="text">amer production manager</div>
        </div>
      </div>
    </div>

    <div class="member__item">
      <div class="member__picture">
        <img class="image" src="../../images/mark_fraser.jpg" alt="">
      </div>
      
      <div class="member__content">
        <div class="member__name">
          <div class="text">amer production manager</div>
        </div>
      </div>
    </div>

    <div class="member__item">
      <div class="member__picture">
        <img class="image" src="../../images/mark_fraser.jpg" alt="">
      </div>
      
      <div class="member__content">
        <div class="member__name">
          <div class="text">amer production manager</div>
        </div>
      </div>
    </div>

    <div class="member__item">
      <div class="member__picture">
        <img class="image" src="../../images/mark_fraser.jpg" alt="">
      </div>
      
      <div class="member__content">
        <div class="member__name">
          <div class="text">amer production manager</div>
        </div>
      </div>
    </div>

    <div class="member__item">
      <div class="member__picture">
        <img class="image" src="../../images/mark_fraser.jpg" alt="">
      </div>
      
      <div class="member__content">
        <div class="member__name">
          <div class="text">amer production manager</div>
        </div>
      </div>
    </div>

   <div class="member__item">
      <div class="member__picture">
        <img class="image" src="../../images/mark_fraser.jpg" alt="">
      </div>
      
      <div class="member__content">
        <div class="member__name">
          <div class="text">amer production manager</div>
        </div>
      </div>
    </div>

    <div class="member__item">
      <div class="member__picture">
        <img class="image" src="../../images/mark_fraser.jpg" alt="">
      </div>
      
      <div class="member__content">
        <div class="member__name">
          <div class="text">amer production manager</div>
        </div>
      </div>
    </div>
  </div>
</div>
