<div class="banner-wrap">
  <div class="banner-left js-slide banner-left--with-slide">
    <div class="banner-left__item">
      <div class="banner-left__image">
        <a href="#"><img src="../../../source/images/banner-left_image_01.jpg" alt=""></a>
      </div>

      <div class="banner-left__wrap">
        <div class="container">
          <div class="banner-left__body">
            <div class="banner-left__content">
              <h2 class="banner-left__title">Lorem ipsum dolor sit.</h2>

              <div class="banner-left__description">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque, doloremque eius! Aliquam quaerat amet officiis molestiae, fugit excepturi architecto quasi ratione, repudiandae.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="banner-left__item">
      <div class="banner-left__image">
        <a href=""><img src="../../../source/images/banner-left_image_02.jpg" alt=""></a>
      </div>

      <div class="banner-left__wrap">
        <div class="container">
          <div class="banner-left__body">
            <div class="banner-left__content">
              <h2 class="banner-left__title">Lorem ipsum dolor sit amet.</h2>

              <div class="banner-left__description">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint rerum, quisquam!</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="banner-left__item">
      <div class="banner-left__image">
        <a href="#"><img src="../../../source/images/banner-left_image_03.jpg" alt=""></a>
      </div>

      <div class="banner-left__wrap">
        <div class="container">
          <div class="banner-left__body">
            <div class="banner-left__content">
              <h2 class="banner-left__title">Lorem ipsum dolor sit.</h2>

              <div class="banner-left__description">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit inventore a cupiditate deleniti vero ab!</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="scroll-element">
    <i class="icon-arrow-bottom js-scroll-down"></i>
  </div>
</div>
