<div class="banner-wrap">
  <div class="banner-test js-slide">
    <div class="banner-test__item">
      <div class="banner-test__image">
        <a href="#"><img src="../../../source/images/banner-left_image_01.jpg" alt=""></a>
      </div>
    </div>
    <div class="banner-test__item">
      <div class="banner-test__image">
        <a href="#"><img src="../../../source/images/banner-left_image_02.jpg" alt=""></a>
      </div>
    </div>
    <div class="banner-test__item">
      <div class="banner-test__image">
        <a href="#"><img src="../../../source/images/banner-left_image_03.jpg" alt=""></a>
      </div>
    </div>
  </div>

  <div class="scroll-element">
    <i class="icon-arrow-bottom js-scroll-down"></i>
  </div>
</div>
