<div class="banner-wrap">
  <div class="banner-center">
    <div class="banner-center__item">
      <div class="banner-center__image">
        <a href="#"><img src="../../../source/images/banner-left_image_01.jpg" alt=""></a>
      </div>


      <div class="banner-center__content">
        <h2 class="banner-center__title">Lorem ipsum dolor sit.</h2>

        <div class="banner-center__description">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque, doloremque eius! Aliquam quaerat amet officiis molestiae, fugit excepturi architecto quasi ratione, repudiandae.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="scroll-element">
    <i class="icon-arrow-bottom js-scroll-down"></i>
  </div>
</div>
