.test {
  padding: 30px 0;
  text-align: center;

  &__dots {
    margin: 0 50% 10px;
    width: 10px;
    height: 10px;
    border: solid 1px blue;
    background: #999;
    border-radius: 50%;
  }
}
