<div class="bif">
  <div class="container">
    <h2 class="section-title text--center">our stores</h2>

    <div class="bif__list">
      <div class="bif__item">
        <div class="bif__content">
          <h3 class="bif__title">highpoint</h3>

          <div class="bif__body">
            <p>highpoint homemaker centre 13 / 179 rosamond road, maribyrnong VIC 3032</p>
            <p><a href="#">(03) 9317 3338</a></p>
            <p><a href="#">oint@shine.com.au</a></p>
          </div>

          <div class="bif__link">
            <a class="btn" href="#">Get Directions</a>
          </div>
        </div>
      </div>

      <div class="bif__item">
        <div class="bif__content">
          <h3 class="bif__title">thomastown</h3>

          <div class="bif__body">
            <p>thomastown homemaker centre 6 / 308 settlement road thomastown VIC 3074</p>
            <p><a href="#">(03) 9465 2536</a></p>
            <p><a href="#">town@ine.com.au</a></p>
          </div>

          <div class="bif__link">
            <a class="btn" href="#">Get Directions</a>
          </div>
        </div>
      </div>

      <div class="bif__item">
        <div class="bif__content">
          <h3 class="bif__title">nunawading</h3>

          <div class="bif__body">
            <p>314 whitehorse road nunawading VIC 3131</p>
            <p><a href="#">(03) 9894 8666</a></p>
            <p><a href="#">wading@ine.com.au</a></p>
          </div>

          <div class="bif__link">
            <a class="btn" href="#">Get Directions</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
