<div class="bif bif--with-map">
  <div class="bif__list">
    <div class="bif__content">
      <div class="bif__item">
        <h3 class="bif__title">highpoint</h3>

        <div class="bif__body">
          <p>highpoint homemaker centre <br> 13/179 rosamond road <br> maribyrnong VIC 3032</p>
          <p> (03) 9317 3338</p>
          <p>highpoint@riseandshine.com.au</p>
        </div>

        <div class="bif__link">
          <a class="btn" href="#"><span>Get Directions</span></a>
        </div>
      </div>

      <div class="bif__image">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3153.8072618798774!2d144.88182885067246!3d-37.771117239277544!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6ad65dcdd93b1ce1%3A0xab6b2be4d8aa75b7!2srise%2Bshine+Bedroom+Furniture+Highpoint!5e0!3m2!1sen!2s!4v1541741985291" width="635" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
      </div>
    </div>
    
    <div class="bif__content">
      <div class="bif__item">
        <h3 class="bif__title">thomastown</h3>

        <div class="bif__body">
          <p>thomastown homemaker centre <br> 6 / 308 settlement road <br> thomastown VIC 3074</p>
          <p>(03) 9465 2536</p>
          <p>thomastown@riseandshine.com.au</p>
        </div>

        <div class="bif__link">
          <a class="btn" href="#"><span>Get Directions</span></a>
        </div>
      </div>

      <div class="bif__image">
         <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3157.3140170171328!2d145.02432075066946!3d-37.68882373457779!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6ad64f41fff3f897%3A0x4f57816847a9cab2!2srise%2Bshine+Bedroom+Furniture+Thomastown!5e0!3m2!1sen!2s!4v1541744886437" width="600" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
      </div>
    </div>
    
    <div class="bif__content">
      <div class="bif__item">
        <h3 class="bif__title">nunawading</h3>

        <div class="bif__body">
          <p>314 whitehorse road <br> nunawading VIC 3131</p>
          <p>(03) 9894 8666</p>
          <p>nunawading@riseandshine.com.au</p>
        </div>

        <div class="bif__link">
          <a class="btn" href="#"><span>Get Directions</span></a>
        </div>
      </div>

      <div class="bif__image">
         <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3151.773585717278!2d145.17209041531893!3d-37.818771979751496!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6ad638d09b53080d%3A0xf06eebd86934a516!2s314+Whitehorse+Rd%2C+Nunawading+VIC+3131%2C+Australia!5e0!3m2!1sen!2s!4v1541746243175" width="600" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>
