<div class="bif">
  <h2 class="section-title">our stores</h2>

  <div class="bif__list">
    <div class="bif__item">
      <h3 class="bif__title">highpoint</h3>

      <div class="bif__body">
        <p>highpoint homemaker centre<br> 13 / 179 rosamond road,<br> maribyrnong VIC 3032</p>
        <p><a href="#">(03) 9317 3338</a></p>
        <p><a href="#">highpoint@riseandshine.com.au</a></p>
      </div>

      <div class="bif__link">
        <a class="btn" href="#"><span>Get Directions</span></a>
      </div>
    </div>

    <div class="bif__item">
      <h3 class="bif__title">thomastown</h3>

      <div class="bif__body">
        <p>thomastown homemaker centre<br> 6 / 308 settlement road<br> thomastown VIC 3074</p>
        <p><a href="#">(03) 9465 2536</a></p>
        <p><a href="#">thomastown@riseandshine.com.au</a></p>
      </div>

      <div class="bif__link">
        <a class="btn" href="#"><span>Get Directions</span></a>
      </div>
    </div>

    <div class="bif__item">
      <h3 class="bif__title">nunawading</h3>

      <div class="bif__body">
        <p>314 whitehorse road<br> nunawading VIC 3131</p>
        <p><a href="#">(03) 9894 8666</a></p>
        <p><a href="#">nunawading@riseandshine.com.au</a></p>
      </div>

      <div class="bif__link">
        <a class="btn" href="#"><span>Get Directions</span></a>
      </div>
    </div>
  </div>
</div>
