<div class="col col--4">
  <div class="col__item">
    <img src="../../images/grid-image.jpg" alt="">
  </div>

  <div class="col__item">
    <img src="../../images/grid-image.jpg" alt="">
  </div>

  <div class="col__item">
    <img src="../../images/grid-image.jpg" alt="">
  </div>

  <div class="col__item">
    <img src="../../images/grid-image.jpg" alt="">
  </div>

  <div class="col__item">
    <img src="../../images/grid-image.jpg" alt="">
  </div>

  <div class="col__item">
    <img src="../../images/grid-image.jpg" alt="">
  </div>

  <div class="col__item">
    <img src="../../images/grid-image.jpg" alt="">
  </div>

  <div class="col__item">
    <img src="../../images/grid-image.jpg" alt="">
  </div>
</div>
