<div class="grid grid--center">
  <div class="container">
    <div class="grid__wrap">
      <div class="grid__item">
        <img src="../../images/riseandshine-mattresses.jpg" alt="">
      </div>

      <div class="grid__item">
        <img src="../../images/riseandshine-mattresses.jpg" alt="">
      </div>

      <div class="grid__item">
        <img src="../../images/riseandshine-mattresses.jpg" alt="">
      </div>

      <div class="grid__item">
        <img src="../../images/riseandshine-mattresses.jpg" alt="">
      </div>

      <div class="grid__item">
        <img src="../../images/riseandshine-mattresses.jpg" alt="">
      </div>
    </div>
  </div>
</div>
