// VARIABLES
// Define all variables (aside from colors) in this document. This includes breakpoint, sizes, etc.

//Font variables
$base-font-size: 16px;
$base-line-height: 1.4;
$mobileOnly: 767px;
$tablet: 768px;
$desktop: 1024px;
$desktop-wide: 1280px;
$desktop-superwide: 1440px;

// Add global paths
$image-path: '../images/';
