<div class="ban ban--default">
  <div class="ban__image ">
    <a href="#"><img src="../../images/banner.jpg" alt=""></a>
  </div>

  <div class="ban__wrap">
    <div class="ban__body">
      <h2 class="ban__subtitle">about us</h2>

      <div class="ban__content">
        <h1 class="ban__title">we really do have it all</h1>

        <div class="ban__desc">
          <p>we have everything you need in the bedroom</p>
        </div>
      </div>

      <div class="best-advice">
        <a href="#">best advice. never beaten on price</a>
      </div>
    </div>
  </div>
</div>
