<div class="ban js-slide banner--width-slide">
  <div class="ban__item">
    <div class="ban__image">
      <a href="#"><img src="../../images/banner.jpg" alt=""></a>
    </div>

    <div class="ban__wrap">
      <div class="ban__body">
        <div class="ban__content">
          <h1 class="ban__title">the complete bedroom</h1>

          <div class="ban__desc">
            <p>we carry a complete range of mattresses to serve your comfort, support, size and budget</p>
          </div>

          <div class="ban__link">
            <a href="" class="btn"><span>discover</span></a>
          </div>
        </div>

        <div class="best-advice">
          <a href="#">best advice. never beaten on price</a>
        </div>
      </div>
    </div>
  </div>

  <div class="ban__item">
    <div class="ban__image">
      <a href=""><img src="../../images/banner.jpg" alt=""></a>
    </div>

    <div class="ban__wrap">
      <div class="ban__body">
        <div class="ban__content">
          <h1 class="ban__title">we really do have it all</h1>

          <div class="ban__desc">
            <p>we have everything you need in the bedroom</p>
          </div>

          <div class="ban__link">
            <a href="#" class="btn"><span>discover</span></a>
          </div>
        </div>

        <div class="best-advice">
          <a href="#">best advice. never beaten on price</a>
        </div>
      </div>
    </div>
  </div>

  <div class="ban__item">
    <div class="ban__image">
      <a href="#"><img src="../../images/banner.jpg" alt=""></a>
    </div>

    <div class="ban__wrap">
      <div class="ban__body">
        <div class="ban__content">
          <h1 class="ban__title">our mattress range</h1>

          <div class="ban__desc">
            <p>we carry a complete range of mattresses to serve your comfort, support, size and budget</p>
          </div>

          <div class="ban__link">
            <a href="" class="btn"><span>discover</span></a>
          </div>
        </div>

        <div class="best-advice">
          <a href="#">best advice. never beaten on price</a>
        </div>
      </div>
    </div>
  </div>

  <div class="ban__item">
    <div class="ban__image">
      <a href="#"><img src="../../images/banner.jpg" alt=""></a>
    </div>
  </div>
</div>
