$margin: 10px;

// box form contact
.fcontact {
  @media only screen and (min-width: $tablet) {
    display: flex;
    justify-content: space-between;
  }

  .form-list {
    @media only screen and (min-width: $tablet) {
      display: flex;
    }

    .form-item {
      margin-bottom: $margin;

      @media only screen and (min-width: $tablet) {
        width: 100%;
        margin: 0 $margin $margin 0;

        &:last-of-type {
          margin-right: 0;
        }
      }

      label {
        display: block;

        @media only screen and (min-width: $tablet) {
          min-width: 120px;
          display: inline-block;
        }
      }

      label + input,
      label + textarea,
      label + button{
        @media only screen and (min-width: $tablet) {
          vertical-align: top;
        }
      }
    }

    .form-actions {
      @media only screen and (min-width: $tablet) {
        margin: 0 $margin $margin 0;

        &:last-of-type {
          margin-right: 0;
        }
      }
    }

    &:last-of-type {
      .form-item,
      .form-actions {
        @media only screen and (min-width: $tablet) {
          margin-bottom: 0;
        }
      }
    }
  }

  &__right {
    @media only screen and (min-width: $tablet) {
      width: 50%;
    }
  }

  &__left {
    @media only screen and (min-width: $tablet) {
      width: 30%;
    }
  }
}

// box form request
.frequest {
  &__title {
    text-align: center;
  }

  .form-list {
    @media only screen and (min-width: $tablet) {
      display: flex;
    }

    .form-item {
      @media only screen and (min-width: $tablet) {
        padding: 0 $margin 0 0;
        width: 100%;
      }

      label {
        @media only screen and (min-width: $tablet) {
          padding-right: 10px;
        }
      }
    }
  }
}

// box form sticky
.fsticky {
  @media only screen and (min-width: $tablet) {
    padding: 20px;
    background: $white;
    position: fixed;
    // equal width of form
    right: -221px;
    top: 50%;
    transition: .5s;
  }

  &.is-active {
    @media only screen and (min-width: $tablet) {
      box-shadow: 0 0 10px 1px $black;
      right: 0;
    }
  }

  &__title {
    padding: 20px;
    position: absolute;
    bottom: 100%;
    right: 100%;
    transform-origin: right bottom;
    transform: rotate(-90deg);
    white-space: nowrap;
    margin: 0;
    background: red;
  }

  .form-actions {
    text-align: center;
  }

  .form-actions,
  .form-item {
    margin-bottom: $margin;
  }
}

// box form with subtitle
.fsubs {
  .form-item {
    margin-bottom: $margin;

    &:last-of-type {
      @media only screen and (min-width: 768px) {
        margin-bottom: 0;
      }
    }
  }

  .form-actions {
    @media only screen and (min-width: 768px) {
      margin-bottom: 0;
    }
  }

  .form-list {
    @media only screen and (min-width: 768px) {
      margin-bottom: 0;
    }

    .form-item {
      @media only screen and (min-width: 768px) {
        margin-bottom: $margin;
      }
    }
  }
  
  // box form with subtitle no submit button
  &--no-sub {
    .form-list {
      @media only screen and (min-width: 768px) {
        position: relative;
      }

      .form-item {
        @media only screen and (min-width: 768px) {
          margin-bottom: 0;
        }
      }
    }

    .form-actions {
      @media only screen and (min-width: 768px) {
        position: absolute;
        right: 0;
        top: 0;
      }

      [type="submit"] {
        font-size: 0;
        @extend %icons;
        @extend .icon-arrow-right;

        &:before {
          font-size: 15px;
        }
      }
    }
  }
}
