<div class="tab">
  <div class="tab__wrap">
    <ul>
      <li class="js-index active">
        <span>description</span>
      </li>
      <li class="js-index">
        <span>features specifications</span>
      </li>
      <li class="js-index">
        <span>delivery returns</span>
      </li>
    </ul>

    <div class="tab__body">
      <ul>
        <li class="is-index active">
          <span class="js-show is-focus">description <i class="icon-arrow-right"></i></span>

          <div class="show tab__content">
            <p>The SensorFlex Platinum mattress range was awarded the Best Sleep Set at the prestigious Furniture Industry Association (FIA) national annual awards for 3 years in a row! (2011, 2012 and 2013). This independent association represents all major mattress and furniture manufacturers in Australia and is the furniture industries equivalent to the Oscars!</p>
          </div>
        </li>
        <li class="is-index">
          <span class="js-show is-focus">features specifications <i class="icon-arrow-right"></i></span>

          <div class="show tab__content">
            <p>rise+shine has stores in the Melbourne metropolitan area to service your needs.</p>
          </div>
        </li>
        <li class="is-index">
          <span class="js-show is-focus">delivery returns <i class="icon-arrow-right"></i></span>

          <div class="show tab__content">
            <p>For enquiries regarding items for sale, trading hours and what’s currently on sale contact your nearest store. Our stores do not usually respond to emails over weekends or on public holidays.</p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
