<div class="tab">
  <ul class="tab__title js-tab">
    <li class="tablinks" ><a href="#">description</a></li>
    <li class="tablinks"><a href="#">feature</a></li>
    <li class="tablinks"><a href="#">delivery</a></li>
  </ul>

  <div class="tab__content is-tab-content">
    <div>
      <p>The SensorFlex Platinum mattress range was awarded the Best Sleep Set at the prestigious Furniture Industry Association (FIA) national annual awards for 3 years in a row! (2011, 2012 and 2013). This independent association represents all major mattress and furniture manufacturers in Australia and is the furniture industries equivalent to the Oscars!</p>
    </div>

    <div>
      <p>The Amesbury is an Australian made macro barrel pocket spring coil mattress range. The barrel pocket spring coils for correct spinal support and less partner disturbance.</p> 
    </div>

    <div>
      <p>Premium quilting foam, soft touch yet highly resilient. Superior 90cm wide side support arround the perimeter of mattress. Provide edge to edge sleeping surface without roll out. High density premium foam provides a firm comfort level.</p>
    </div>
  </div>
</div>
