.int {
  padding: 30px 0;

  &__wrap {
    @media only screen and (min-width: $tablet) {
      display: flex;
    }
  }

  &__title {
    @media only screen and (min-width: $tablet) {
      width: 20%;
      padding-right: 30px;
    }
  }

  &__body {
    @media only screen and (min-width: $tablet) {
      width: 80%;
    }  
  }
}
