<div class="test test--with-slide">
  <div class="test_wrap js-slick-test">
    <div class="test__item">
      <h2 class="test__title">this is testimonial</h2>

      <div class="test__body">
        <p>For enquiries regarding items for sale, trading hours and what’s currently on sale contact your nearest store. Our stores do not usually respond to emails over weekends or on public holidays. If you need an immediate answer, please call your nearest store.</p>
      </div>

      <div class="test__author">
        <p>- Cameron Pirotta, Managing Director at Pirotta Services Commercial Pty Ltd</p>
      </div>
    </div>

    <div class="test__item">
      <h2 class="test__title">this is testimonial</h2>

      <div class="test__body">
        <p>For enquiries regarding items for sale, trading hours and what’s currently on sale contact your nearest store. Our stores do not usually respond to emails over weekends or on public holidays. If you need an immediate answer, please call your nearest store.</p>
      </div>

      <div class="test__author">
        <p>- Cameron Pirotta, Managing Director at Pirotta Services Commercial Pty Ltd</p>
      </div>
    </div>
  </div>

  <div class="test__link">
    <a href="" class="btn">READ MORE</a>
  </div>
</div>
