.box-html {
  padding: 30px 0;

  p {
    &:last-of-type {
      margin-bottom: 0;
    }
  }

  &--with-readmore {
    .read-more {
      display: none;
      margin-top: 16px;

      &.is-show {
        display: block;
      }
    }
  }
}
