<div class="int">
  <h2 class="int__title">This is box-intro</h2>

  <div class="int__body">
    <p>rise+shine will only collect information that is necessary for to fulfill one or more of its functions or activities.</p>

    <ul>
      <li>Individuals will be able to access their information held by us on request.</li>
      <li>Individuals will be able to access their information held by us on request.</li>
      <li>Individuals will be able to access their information held by us on request.</li>
      <li>Individuals will be able to access their information held by us on request.</li>
      <li>Individuals will be able to access their information held by us on request.</li>
    </ul>

    <div class="int__link">
      <a href="#" class="btn">say hello</a>
    </div>
  </div>
</div>
