<div class="art art--type2">
  <div class="art__list">
    <div class="art__item">
      <div class="art__image">
        <img src="../../images/article.jpg" alt="">
      </div>

      <div class="art__body">
        <h3 class="art__title">art--type2</h3>

        <div class="art__description">
          <p>rise+shine will never disclose or on sell your information to third parties for use in marketing databases.<span class="read-more">If you do not wish rise+shine to discuss your information, purchase and account balance with other members of your household, or the contact location given to us, we request that you advise us of this at the time of purchase.</span></p>
        </div>

        <a href="#" class="js-read-more">READ MORE</a>
      </div>
    </div>

    <div class="art__item">
      <div class="art__image">
        <img src="../../images/article.jpg" alt="">
      </div>

      <div class="art__body">
        <h3 class="art__title">art--type2</h3>

        <div class="art__description">
          <p>rise+shine will never disclose or on sell your information to third parties for use in marketing databases.<span class="read-more">If you do not wish rise+shine to discuss your information, purchase and account balance with other members of your household, or the contact location given to us, we request that you advise us of this at the time of purchase.</span></p>
        </div>

        <a href="#" class="js-read-more">READ MORE</a>
      </div>
    </div>

    <div class="art__item">
      <div class="art__image">
        <img src="../../images/article.jpg" alt="">
      </div>

      <div class="art__body">
        <h3 class="art__title">art--type2</h3>

        <div class="art__description">
          <p>rise+shine will never disclose or on sell your information to third parties for use in marketing databases.<span class="read-more">If you do not wish rise+shine to discuss your information, purchase and account balance with other members of your household, or the contact location given to us, we request that you advise us of this at the time of purchase.</span></p>
        </div>

        <a href="#" class="js-read-more">READ MORE</a>
      </div>
    </div>

    <div class="art__item">
      <div class="art__image">
        <img src="../../images/article.jpg" alt="">
      </div>

      <div class="art__body">
        <h3 class="art__title">art--type2</h3>

        <div class="art__description">
          <p>rise+shine will never disclose or on sell your information to third parties for use in marketing databases.<span class="read-more">If you do not wish rise+shine to discuss your information, purchase and account balance with other members of your household, or the contact location given to us, we request that you advise us of this at the time of purchase.</span></p>
        </div>

        <a href="#" class="js-read-more">READ MORE</a>
      </div>
    </div>

    <div class="art__item">
      <div class="art__image">
        <img src="../../images/article.jpg" alt="">
      </div>

      <div class="art__body">
        <h3 class="art__title">art--type2</h3>

        <div class="art__description">
          <p>rise+shine will never disclose or on sell your information to third parties for use in marketing databases.<span class="read-more">If you do not wish rise+shine to discuss your information, purchase and account balance with other members of your household, or the contact location given to us, we request that you advise us of this at the time of purchase.</span></p>
        </div>

        <a href="#" class="js-read-more">READ MORE</a>
      </div>
    </div>

    <div class="art__item">
      <div class="art__image">
        <img src="../../images/article.jpg" alt="">
      </div>

      <div class="art__body">
        <h3 class="art__title">art--type2</h3>

        <div class="art__description">
          <p>rise+shine will never disclose or on sell your information to third parties for use in marketing databases.<span class="read-more">If you do not wish rise+shine to discuss your information, purchase and account balance with other members of your household, or the contact location given to us, we request that you advise us of this at the time of purchase.</span></p>
        </div>

        <a href="#" class="js-read-more">READ MORE</a>
      </div>
    </div>
  </div>
</div>
