<div class="art">
  <div class="art__list">
    <div class="art__item">
      <div class="art__image">
        <img src="../../images/Brighton-Apartment-476x366.jpg" alt="">
      </div>

      <div class="art__body">
        <h3 class="art__title">timeber floor repair and sanding</h3>

        <div class="art__description">
          <p>rise+shine will only disclose information in accordance with the Privacy Act. Personal information may be disclosed for the purpose as advised and related purposes that the individual would reasonably expect, as required by law or under other circumstances where permitted under the Privacy Act. rise+shine will never disclose or on sell your information to third parties for use in marketing databases. Information relating to your financial status is collected only if necessary to arrange finance, and sent to agreed financial institutions. <span class="read-more">If you do not wish rise+shine to discuss your information, purchase and account balance with other members of your household, or the contact location given to us, we request that you advise us of this at the time of purchase. Once your purchases are ready for pick up or delivery, rise+shine staff will contact you on the phone or email address provided by you, confirm the time and location for delivery (if applicable), and confirm the balance to be paid upon delivery (if any). It is implied that this information may be given to a spouse or other adult household members, unless you expressly deny such permission.</span></p>
        </div>

        <a href="#" class="btn js-read-more">READ MORE</a>
      </div>
    </div>

    <div class="art__item">
      <div class="art__image">
        <img src="../../images/ITB_Floors_parquetry_sanding_polishing_templestowe-blog-476x366.jpg" alt="">
      </div>

      <div class="art__body">
        <h3 class="art__title">timeber floor repair and sanding</h3>

        <div class="art__description">
          <p>rise+shine will only disclose information in accordance with the Privacy Act. Personal information may be disclosed for the purpose as advised and related purposes that the individual would reasonably expect, as required by law or under other circumstances where permitted under the Privacy Act. rise+shine will never disclose or on sell your information to third parties for use in marketing databases. Information relating to your financial status is collected only if necessary to arrange finance, and sent to agreed financial institutions. <span class="read-more">If you do not wish rise+shine to discuss your information, purchase and account balance with other members of your household, or the contact location given to us, we request that you advise us of this at the time of purchase. Once your purchases are ready for pick up or delivery, rise+shine staff will contact you on the phone or email address provided by you, confirm the time and location for delivery (if applicable), and confirm the balance to be paid upon delivery (if any). It is implied that this information may be given to a spouse or other adult household members, unless you expressly deny such permission.</span></p>
        </div>

        <a href="#" class="btn js-read-more">READ MORE</a>
      </div>
    </div>

    <div class="art__item">
      <div class="art__image">
        <img src="../../images/ITB_Floors_timber_floors_sanding_staining_residential-blog-476x366.jpg" alt="">
      </div>

      <div class="art__body">
        <h3 class="art__title">timeber floor repair and sanding</h3>

        <div class="art__description">
          <p>rise+shine will only disclose information in accordance with the Privacy Act. Personal information may be disclosed for the purpose as advised and related purposes that the individual would reasonably expect, as required by law or under other circumstances where permitted under the Privacy Act. rise+shine will never disclose or on sell your information to third parties for use in marketing databases. Information relating to your financial status is collected only if necessary to arrange finance, and sent to agreed financial institutions. <span class="read-more">If you do not wish rise+shine to discuss your information, purchase and account balance with other members of your household, or the contact location given to us, we request that you advise us of this at the time of purchase. Once your purchases are ready for pick up or delivery, rise+shine staff will contact you on the phone or email address provided by you, confirm the time and location for delivery (if applicable), and confirm the balance to be paid upon delivery (if any). It is implied that this information may be given to a spouse or other adult household members, unless you expressly deny such permission.</span></p>
        </div>
        
        <a href="#" class="btn js-read-more">READ MORE</a>
      </div>
    </div>
  </div>
</div>
