<div class="grid-icon bg--white text--blue">
<<<<<<< HEAD
  <h2 class="text--center">why choose rise+shine</h2>
=======
  <h2 class="grid-icon__title">why choose rise+shine</h2>
>>>>>>> adcb6c1d5567a9fcc0475b8684468ff04503743c

  <div class="grid-icon__list">
    <div class="grid-icon__item">
      <div class="grid-icon__image">
        <img src="../../images/grid-icon.svg" alt="">
      </div>
      <h4 class="grid-icon__title">we assemble</h4>
    </div>
    <div class="grid-icon__item">
      <div class="grid-icon__image">
        <img src="../../images/grid-icon.svg" alt="">
      </div>
      <h4 class="grid-icon__title">delivery</h4>
    </div>
    <div class="grid-icon__item">
      <div class="grid-icon__image">
        <img src="../../images/grid-icon.svg" alt="">
      </div>
      <h4 class="grid-icon__title">custom design</h4>
    </div>
    <div class="grid-icon__item">
      <div class="grid-icon__image">
        <img src="../../images/grid-icon.svg" alt="">
      </div>
      <h4 class="grid-icon__title">unbeatable price</h4>
    </div>
    <div class="grid-icon__item">
      <div class="grid-icon__image">
        <img src="../../images/grid-icon.svg" alt="">
      </div>
      <h4 class="grid-icon__title">120 night<br> comfort promise</h4>
    </div>
  </div>
</div>
