<div class="grid-icon grid-icon--with-content">
  <div class="grid-icon__list">
    <div class="grid-icon__item">
      <div class="grid-icon__image">
        <img src="../../images/grid-icon.png" alt="">
      </div>

      <h4 class="grid-icon__title">support</h4>

      <div class="grid-icon__body">
         <p>Our mattresses have a special support layer that is contoured to match the curves of your body. It’s made from 100% Australian made foams and manufactured here in Australia. At 270 mm deep, it’s thicker than ALL of our major competitors to provide better support.</p>
      </div>
    </div>

    <div class="grid-icon__item">
      <div class="grid-icon__image">
        <img src="../../images/grid-icon.png" alt="">
      </div>

      <h4 class="grid-icon__title">comfort</h4>

      <div class="grid-icon__body">
        <p>Ideal mattress will be perfect for you, because you we’ve based it on the best selling mattress range in our retail stores.  The mattress is Firm-Medium on one side and Medium – Soft on the other, so you can choose your Ideal comfort setting, in your home! Our mattresses are 100% Australian Made, by a wholly 100% Australian Owned company</p>
      </div>
    </div>

    <div class="grid-icon__item">
      <div class="grid-icon__image">
        <img src="../../images/grid-icon.png" alt="">
      </div>

      <h4 class="grid-icon__title">value for money</h4>

      <div class="grid-icon__body">
         <p>We cut out the middle man, we don’t pay massive rents for huge shops and huge salaries and commissions to pushy sales people. You buy direct and save THOUSANDS OF DOLLARS!</p>
      </div>
    </div>

    <div class="grid-icon__item">
      <div class="grid-icon__image">
        <img src="../../images/grid-icon.png" alt="">
      </div>

      <h4 class="grid-icon__title">durability</h4>

      <div class="grid-icon__body">
        <p>Your Ideal mattress is made from special high tech materials, designed to last. It’s been tested for durability, comfort and sagging. It’s not just great, it’s guaranteed for 12 Years!</p>
      </div>
    </div>
  </div>
</div>
