<div class="box-text">
  <h2>this is box text</h2>

  <ul>
    <li>rise+shine will take reasonable steps to protect the personal information</li>
    <li>rise+shine will take reasonable steps to protect the personal information</li>
    <li>rise+shine will take reasonable steps to protect the personal information</li>
    <li>rise+shine will take reasonable steps to protect the personal information</li>
    <li>rise+shine will take reasonable steps to protect the personal information</li>
  </ul>
</div>
