<div class="txt bg--gray">
    <h2>this is box text</h2>
    
    <div class="txt__description">
      <p>rise+shine will take reasonable steps to protect the personal information it holds from misuse and loss and from unauthorized access, modification or disclosure. rise+shine will take reasonable steps to destroy or permanently de-identify personal information if it is no longer needed.</p>
    </div>
</div>
