<div class="txt txt--with-readmore">
  <h2>this is box text</h2>
  
  <div class="txt__description">
    <p>rise+shine will take reasonable steps to protect the personal information it holds from misuse and loss and from unauthorized access, modification or disclosure. rise+shine will take reasonable steps to destroy or permanently de-identify personal information if it is no longer needed. <span class="read-more">rise+shine requires strict compliance with the Privacy Act by all of its contractors. Some contractors may be given certain information, including your outstanding debt, to perform delivery services to you.</span></p>
  </div>

  <a class="js-read-more" href="#">READ MORE ></a>
</div>
