<div class="box-html">
  <div class="txt">
    <h2 class="txt__title">this is box text</h2>

    <div class="txt__content">
      <ul>
        <li>rise+shine will take reasonable steps to protect the personal information</li>
        <li>rise+shine will take reasonable steps to protect the personal information</li>
        <li>rise+shine will take reasonable steps to protect the personal information</li>
        <li>rise+shine will take reasonable steps to protect the personal information</li>
        <li>rise+shine will take reasonable steps to protect the personal information</li>
      </ul>
    </div>
  </div>
</div>
