$padding: 20px;
$margin: 20px;

.art {
  padding: $padding;

  &__item {
    @media only screen and (min-width: $tablet) {
      display: flex;
      margin-bottom: $margin;
    }
  }

  &__image {
    line-height: 0;

    img {
      width: 100%;
      height: auto;
    }
  }

  &__body {
    padding: $padding 0;   

    p {
      &:last-of-type {
        margin-bottom: 0;
      }
    }

    @media only screen and (min-width: $tablet) {
      width: 70%;
      padding: 0 $padding $padding;
    }
  }

  &__description {
    margin-bottom: 10px;
  }

  .read-more {
    display: none;

    &.is-show {
      display: inline;
    }
  }

  &--type2 {
    .art__list {
      @include grid(2, $margin);
      align-items: inherit;
    }
  }

  &--type3 {
    .art__item {
      margin-bottom: 30px;
    }

    .art__title {
      padding-bottom: 5px;
      position: relative;

      &:before {
        content: '';
        background: $black;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 50px;
        height: 1px;
      }
    }
  }
}
