.tab {
  padding: 30px;

  ul {
    margin-bottom: 0;
    padding-left: 0;
  }
  
  &__title {
    @media only screen and (min-width: $tablet) {
      display: flex;
      margin: 0 -30px 30px;
    }

    li {
      list-style-type: none;

      @media only screen and (min-width: $tablet) {
        padding: 0 15px;
      }
    }
  }

  &__content {
    > div {
      display: none;

      &.active {
        display: block;
      }
    }
  }

  .tablinks {
    &:before {
      @extend %icons;
      @extend .icon-arrow-right;
      transform: rotate(89deg);
      position: absolute;
      transition: .5s;
      font-size: 14px;
      right: 20px;

      @media only screen and (min-width: $tablet) {
        display: none;
      }
    }
  }
}
