.member {
  &__wrap {
    @include grid(5);
    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    position: relative;

    img {
      width: 100%;
    }
  }

  &__picture {
    line-height: 0;
  }

  &__image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    background-color: rgba(0, 0, 0, 0.5);
  }

  &__name {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    text-transform: uppercase;
    width: 100%;
    padding: 0 27px 20px;
    text-align: center;

  }

  .member__item:hover .member__picture {
    opacity: 1
  }

  .member__item:hover .member__name {
      opacity: 1;
  }

  //member--with-desc
  &--with-desc {
    .member__wrap {
      @include grid(5);
    }

    .member__item {
      &:nth-of-type(5n) {
        margin-right: 0;

        .member__name {
          left: inherit;
          right: 0;
        }
      }

      &:after {
        border: 1px solid red;
        position: absolute;
      }
    }

    .member__item:hover .member__name {
      @media only screen and (min-width: $tablet) {
        opacity: 1;
        visibility: visible;        
      }
    }

    .member__item:hover .member__picture::after {
      @media only screen and (min-width: $tablet) {
        opacity: 1;
        visibility: visible;        
      }
    }

    .member__content {
      position: relative;
      padding-top: 17px;
    }

    .member__name {
      z-index: 2;
      width: 432px;
      opacity: 0;
      visibility: hidden;
      background: #f0f3f5;
      top: 0;
      left: 0;
      bottom: inherit;
      transform: translate(0, 0);
      padding: 30px;
    }

    .text {
      color: #000;
      text-align: left;
      text-transform: initial;
    }
  }
}
