<div class="box-icon bg--white text--blue">
  <h2>why choose rise+shine</h2>

  <div class="box-icon__content">
    <div class="box-icon__item">
      <div class="box-icon__image">
        <img src="../../images/box-icon.svg" alt="">
      </div>
      <h4 class="box-icon__title">we assemble</h4>
    </div>
    <div class="box-icon__item">
      <div class="box-icon__image">
        <img src="../../images/box-icon.svg" alt="">
      </div>
      <h4 class="box-icon__title">delivery</h4>
    </div>
    <div class="box-icon__item">
      <div class="box-icon__image">
        <img src="../../images/box-icon.svg" alt="">
      </div>
      <h4 class="box-icon__title">custom design</h4>
    </div>
    <div class="box-icon__item">
      <div class="box-icon__image">
        <img src="../../images/box-icon.svg" alt="">
      </div>
      <h4 class="box-icon__title">unbeatable price</h4>
    </div>
    <div class="box-icon__item">
      <div class="box-icon__image">
        <img src="../../images/box-icon.svg" alt="">
      </div>
      <h4 class="box-icon__title">120 night<br> comfort promise</h4>
    </div>
  </div>
</div>
