.acc {
  padding: 50px;

  &__title {
    border-top: 1px solid #e6ebe9;
    padding: 15px;
    margin-bottom: 0;
    position: relative;
    cursor: pointer;

    &:before {
      @extend %icons;
      @extend .icon-arrow-right;
      transform: rotate(90deg);
      position: absolute;
      transition: .5s;
      font-size: 15px;
      right: 0;
      top: 20px;
    }

    &.is-show {
      &:before {
        transform: rotate(-90deg);
        transition: .5s;
      }
    }
  }

  &__item {
    &:last-of-type {
      border-bottom: 1px solid #e6ebe9;
    }
  }

  &__body {
    display: none;
    margin-left: 15px;
    padding: 15px;
  }
}
