<div class="mas-wrap">
  <div class="container">
    <ul class="mas js-mas js-lightbox">
      <li data-src="https://picsum.photos/800/815">
        <div>
          <div class="mas__image">
            <img src="https://picsum.photos/800/815" alt="">
          </div>
          <div class="mas__bg">
            <span>zoom</span>
          </div>
        </div>
      </li>

      <li data-src="https://picsum.photos/800/400">
        <div>
          <div class="mas__image">
            <img src="https://picsum.photos/800/400" alt="">
          </div>
          <div class="mas__bg">
            <span>zoom</span>
          </div>
        </div>
      </li>

      <li data-src="https://picsum.photos/800/400">
        <div>
          <div class="mas__image">
            <img src="https://picsum.photos/800/400" alt="">
          </div>
          <div class="mas__bg">
            <span>zoom</span>
          </div>
        </div>
      </li>

      <li data-src="https://picsum.photos/800/400">
        <div>
          <div class="mas__image">
            <img src="https://picsum.photos/800/400" alt="">
          </div>
          <div class="mas__bg">
            <span>zoom</span>
          </div>
        </div>
      </li>

      <li data-src="https://picsum.photos/800/815">
        <div>
          <div class="mas__image">
            <img src="https://picsum.photos/800/815" alt="">
          </div>
          <div class="mas__bg">
            <span>zoom</span>
          </div>
        </div>
      </li>


      <li data-src="https://picsum.photos/800/400">
        <div>
          <div class="mas__image">
            <img src="https://picsum.photos/800/400" alt="">
          </div>
          <div class="mas__bg">
            <span>zoom</span>
          </div>
        </div>
      </li>

      <li data-src="https://picsum.photos/800/815">
        <div>
          <div class="mas__image">
            <img src="https://picsum.photos/800/815" alt="">
          </div>
          <div class="mas__bg">
            <span>zoom</span>
          </div>
        </div>
      </li>

      <li data-src="https://picsum.photos/800/815">
        <div>
          <div class="mas__image">
            <img src="https://picsum.photos/800/815" alt="">
          </div>
          <div class="mas__bg">
            <span>zoom</span>
          </div>
        </div>
      </li>

      <li data-src="https://picsum.photos/800/815">
        <div>
          <div class="mas__image">
            <img src="https://picsum.photos/800/815" alt="">
          </div>
          <div class="mas__bg">
            <span>zoom</span>
          </div>
        </div>
      </li>


      <li data-src="https://picsum.photos/800/400">
        <div>
          <div class="mas__image">
            <img src="https://picsum.photos/800/400" alt="">
          </div>
          <div class="mas__bg">
            <span>zoom</span>
          </div>
        </div>
      </li>

      <li data-src="https://picsum.photos/800/815">
        <div>
          <div class="mas__image">
            <img src="https://picsum.photos/800/815" alt="">
          </div>
          <div class="mas__bg">
            <span>zoom</span>
          </div>
        </div>
      </li>
    </ul>
  </div>

  <div class="load-more">
    <span>load more</span>
  </div>
</div>