<div class="box-image-text">
  <div class="box-image-text__wrap">
    <div class="box-image-text__body">
      <h2 class="box-image-text__title">highpoint</h2>

      <div class="box-image-text__content">
        <p>rise+shine has stores in the Melbourne metropolitan area to service your needs.</p>
        <p>For enquiries regarding items for sale, trading hours and what’s currently on sale contact your nearest store. Our stores do not usually respond to emails over weekends or on public holidays. If you need an immediate answer, please call your nearest store.</p>
      </div>
    </div>

    <div class="box-image-text__image">
      <img src="../../images/box-image-text.jpg" alt="">
    </div>
  </div>
</div>
