.gim1 {
  padding: 30px 0;

  .section-title {
    text-align: center;
    margin-bottom: 20px;
  }

  &__wrap {
    @media only screen and (min-width: $tablet) {
      display: flex;
    }
  }

  &__item {
    width: 100%;
    margin-bottom: 20px;

    @media only screen and (min-width: $tablet) {
      width: calc((100% - 61px) / 3);
      margin-right: 30px;
    }

    &:last-of-type {
      margin-right: 0;
    }
  }

  &__link {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: initial;
    display: none;
  }

  &__image {
    img {
      width: 100%;
    }

    span {
      display: none;
    }

    a {
      display: block;
      position: relative;

      &:hover:before {
        visibility: visible;
      }

      &:hover .gim1__link {
        display: block;
      }

      &:before {
        @media only screen and (min-width: 768px) {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: rgba($black, .3);
          visibility: hidden;
        }
      }
    }
  }
}
