$margin: 20px;
$padding: 20px;
.gim {
  padding: $padding 0;

  &__wrap {
    @include grid(3, $margin);
  }

  &__item {
    position: relative;

    &:hover {
      .gim__body {
        display: block;
      }
    }
  }

  &__image {
    line-height: 0;

    img {
      width: 100%;
      height: auto;
    }
  }

  &__content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: $padding;
    display: flex;
    align-items: center;
  }

  &__body {
    display: none;
    color: $white;

    @media only screen and (min-width: $tablet) {
      overflow-x: auto;
      max-height: 100%;
      margin: 30px 0 10px;
    }

    @media only screen and (min-width: $desktop) {
      margin-top: 0;
    }
  }

  &__title {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    padding: $padding;
    line-height: 1;

    @media only screen and (min-width: $tablet) {
      padding: 5px $padding;
    }

    @media only screen and (min-width: $desktop) {
      padding: $padding;
    }
  }

  &--2cols {
    .gim__wrap {
      @include grid(2, $margin);
    }
  }
  
  //grid-image--4cols;
  &--4cols {
    .gim__wrap {
      @include grid(4, $margin);
    }
  }
}
