.gct {
  padding: 30px 0;

  .section-title {
    text-align: center;
    margin-bottom: 20px;
  }

  &__list {
    @include grid(3, 15px, 15px, space-around);
  }

  &__item {
    width: 100%;
    margin-bottom: 30px;

    @media only screen and (min-width: $tablet) {
      width: calc((100% - 61px) / 3);
      margin-right: 30px;
    }

    &:last-of-type {
      margin-right: 0;
    }
  }

  &__image {
    img {
      width: 100%;
    }
  }
}
