.banner-center {
  position: relative;
  height: 500px;

  @media only screen and (min-width: 768px) {
    height: auto;
  }

  @media only screen and (min-width: 1280px) {
    height: 100vh;
  }

  &__image {
    position: relative;
    overflow: hidden;

    a {
      display: block;
      line-height: 0;
      height: 100%;
    }

    img {
      max-width: inherit;
      height: 100%;
      width: auto;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      @media only screen and (min-width: 768px) {
        width: 100%;
        height: auto;
      }

      @media only screen and (min-width: 768px) and (max-width: 1280px){
        position: inherit;
        transform: none;
      }
    }
  }

  &__content {
    color: $white;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    text-align: center;
    padding: 20px;
  }

  &__description {
    p:last-of-type {
      margin: 0;
    }
  }

  &__title {
    @extend .h1;
  }

  &__item {
    position: relative;
  }

  &--with-slider {
  }
}

.banner-wrap {
  position: relative;
}

.scroll-element {
  text-align: center;
  padding: 10px 0;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  color: $white;

  i {
    cursor: pointer;
  }
}
