.banner-left {
  position: relative;


  &__image {
    position: relative;
    height: 500px;
    overflow: hidden;

    @media only screen and (min-width: 768px) {
      height: auto;
    }

    @media only screen and (min-width: 1280px) {
      height: 100vh;
    }

    a {
      display: block;
      line-height: 0;
      height: 100%;
    }

    img {
      max-width: inherit;
      height: 100%;
      width: auto;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      @media only screen and (min-width: 768px) {
        width: 100%;
        height: auto;
      }

      @media only screen and (min-width: 768px) and (max-width: 1280px){
        position: inherit;
        transform: none;
      }
    }
  }

  &__wrap {
    @media only screen and (min-width: 768px) {
      position: absolute;
      top: 50%;
      left: 0;
      width: 100%;
      transform: translateY(-50%);
      padding: 0;
    }
  }

  &__body {
    @media only screen and (min-width: 768px) {
      max-width: 360px;
    }
  }

  &__content {
    @extend .bg--white;
    padding: 20px;
    position: relative;
    min-height: 295px;

    @media only screen and (max-width: 767px) {
      display: flex;
      flex-direction: column;
      min-height: 181px;
    }
  }

  &__description {
    p:last-of-type {
      margin: 0;
    }
  }

  &__title {
    @extend .h1;
  }

  &__item {
    position: relative;
  }

  &--with-slide {
  }
}

.banner-wrap {
  position: relative;
}

.scroll-element {
  text-align: center;
  padding: 10px 0;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  color: $white;

  i {
    cursor: pointer;
  }
}
