<div class="gct">
  <h2 class="section-title">our services</h2>

  <div class="gct__list">
    <div class="gct__item">
      <div class="gct__image">
        <img src="../../images/ITB_Floors_Installation_image.jpg" alt="">
      </div>

      <h3 class="dct__title">Installations</h3>

      <div class="gct__body">
        <p>rise+shine will only collect information that is necessary for to fulfill one or more of its functions or activities.</p>
      </div>

      <div class="gct__link">
        <a href="#" class="btn">explore</a>
      </div>
    </div>

    <div class="gct__item">
      <div class="gct__image">
        <img src="../../images/ITB_Floors_Repairs_Restorations_image.jpg" alt="">
      </div>

      <h3 class="dct__title">Installations</h3>

      <div class="gct__body">
        <p>rise+shine will only collect information that is necessary for to fulfill one or more of its functions or activities.</p>
      </div>

      <div class="gct__link">
        <a href="#" class="btn">explore</a>
      </div>
    </div>

    <div class="gct__item">
      <div class="gct__image">
        <img src="../../images/ITB_Floors_Sanding_Polishing_image.jpg" alt="">
      </div>

      <h3 class="dct__title">Installations</h3>

      <div class="gct__body">
        <p>rise+shine will only collect information that is necessary for to fulfill one or more of its functions or activities.</p>
      </div>

      <div class="gct__link">
        <a href="#" class="btn">explore</a>
      </div>
    </div>
  </div>
</div>
