<div class="box-form bg--blue">
  <h2 class="box-form__title">request form</h2>

  <form action="" method="POST">
    <div class="form-list">
      <div class="form-item">
        <input type="text" placeholder="first name">
      </div>

      <div class="form-item">
        <input type="text" placeholder="last name">
      </div>

      <div class="form-item">
        <input type="number" placeholder="phone">
      </div>

      <div class="form-item form-item--submit">
        <button class="btn btn--full" href="#">submit</button>
      </div>
    </div>
  </form>
</div>
