<div class="box-form box-form--footer">
  <h5 class="box-form__title">get the latest from rise+shine</h5>

  <form action="#" method="POST">
    <div class="form-list">
      <div class="form-item">
        <input type="text" placeholder="full name">
      </div>

      <div class="form-item">
        <input type="email" placeholder="email">
        <button type="submit">button</button>
      </div>
    </div>
  </form>
</div>
