<div class="footer-form">
  <h5>get the latest from rise+shine</h5>

  <form action="#" method="POST">
    <div class="form-item">
      <input type="text" placeholder="full name">
    </div>

    <div class="form-item">
      <input type="email" placeholder="email">
      <button type="submit">button</button>
    </div>
  </form>
</div>