<div class="soc soc--no-desc">
  <h5 class="soc__subtitle">stay in touch</h5>

  <h2 class="soc__title">follow</h2>

  <ul class="list-icons">
    <li><a href="#" class="icon-facebook"></a>facebook</li>
    <li><a href="#" class="icon-instagram"></a>instagram</li>
    <li><a href="#" class="icon-youtube"></a>youtube</li>
    <li><a href="#" class="icon-twitter"></a>twitter</li>
  </ul>
</div>
