<div class="soc soc--no-subtitle">
  <h2 class="soc__title">follow</h2>

  <ul class="soc__list">
    <li><a href="#" class="icon-facebook">facebook</a></li>
    <li><a href="#" class="icon-instagram">instagram</a></li>
    <li><a href="#" class="icon-youtube">youtube</a></li>
    <li><a href="#" class="icon-twitter">twitter</a></li>
  </ul>
</div>
