<div class="soc">
  <h5 class="soc__subtitle">stay in touch</h5>

  <h2 class="soc__title">follow</h2>

  <div class="soc__des">
    <p>Stay connected with us on social so we can keep you on the know</p>
  </div>

   <ul class="soc__list">
    <li><a href="#" class="icon-facebook">facebook</a></li>
    <li><a href="#" class="icon-instagram">instagram</a></li>
    <li><a href="#" class="icon-youtube">youtube</a></li>
    <li><a href="#" class="icon-twitter">twitter</a></li>
  </ul>
</div>
